
.blog-header {
    line-height: 1;
}
.bgn{
    background-color: rgb(202, 191, 191);
}
.disc{
    margin-left: 5%;
    width:350px;
    height:200px;
}
@media all and (max-width : 360px){

}
@media all and (max-width:705px){

} 
@media all and (max-width:266px){

} 
@media all and (max-width:335px) and (min-width:266px){

} 
@media all and (max-width:476px) and (min-width:336px){

} 
@media all and (max-width:1118px) and (min-width:477px){

} 

.blog-footer{
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    min-width:max-content;
}